<div>
    <span class="@GetPriceClasses()" style="@_regularStyle">@(Product.Price.Regular)$</span>
    <span class="@GetDiscountClasses()" style="@_discountedStyle">@((Product.Price.Discount == null) ? "" : Product.Price.Discount.DiscountPrice)$</span>
</div>

@code {
    [Parameter] public required ProductDto Product { get; set; }
    [Parameter] public int FontSizePx { get; set; } = 15;

    private string _regularStyle = "font-size: 15px;";
    private string _discountedStyle = "font-size: 15px;";

    protected override void OnInitialized()
    {
        _regularStyle = $"font-size: {FontSizePx}px;";
        _discountedStyle = $"font-size: {FontSizePx}px;";

        if (Product.Price.Discount != null)
        {
            _regularStyle = $"font-size: {FontSizePx - (FontSizePx/2)}px;";
        }
    }

    private string GetDiscountClasses() => (Product.Price.Discount == null) ? "hide-element" : "red";

    private string GetPriceClasses() => ((Product.Price.Discount == null)) ? "" : "text-crossed";
}
