
<div>
    <span class="@GetPriceClasses()" style="@_regularStyle">@(RegularPrice)$</span>
    <span class="@GetDiscountClasses()" style="@_discountedStyle">@((DiscountedPrice == null) ? "" : DiscountedPrice)$</span>
</div>

@code {
    [Parameter] public required decimal RegularPrice { get; set; }
    [Parameter] public decimal? DiscountedPrice { get; set; }
    [Parameter] public int FontSizePx { get; set; } = 15;

    private string _regularStyle = "font-size: 15px;";
    private string _discountedStyle = "font-size: 15px;";

    protected override void OnInitialized()
    {
        _regularStyle = $"font-size: {FontSizePx}px;";
        _discountedStyle = $"font-size: {FontSizePx}px;";

        if (DiscountedPrice != null)
        {
            _regularStyle = $"font-size: {FontSizePx - (FontSizePx/2)}px;";
        }
    }

    private string GetDiscountClasses() => (DiscountedPrice == null) ? "hide-element" : "red text-bold";

    private string GetPriceClasses() => (DiscountedPrice == null) ? "text-bold" : "text-crossed";
}
