@rendermode InteractiveServer

<div class="container product-flex-item">

    <div class="product-preview-top padding-y-16">
        <img src="@Boardgame.Image.ImageSmallUrl" alt="@Boardgame.Image.ImageText"/>
        <span>@Boardgame.Name</span>
    </div>

    <div class="product-preview-bottom">
        <div>
            <span class="@GetPriceClasses()">@(Boardgame.Price.Regular)$</span>
            <span class="@GetDiscountClasses()">@((Boardgame.Price.Discount == null) ? "" : Boardgame.Price.Discount.Price)$</span>
        </div>

        <div>
            <span>Stock:@(Boardgame.Stock.Quantity)</span>
        </div>

    </div>

    <div>
        <AddToCartButton Boardgame="Boardgame"></AddToCartButton>
    </div>


</div>

@code {
    [Parameter] public required BoardgameDto Boardgame { get; set; }

    private string GetDiscountClasses() => (Boardgame.Price.Discount == null) ? "hide-element" : "red text-bold";

    private string GetPriceClasses() => (Boardgame.Price.Discount == null) ? "text-bold" : "text-crossed text-small";

}
