<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @* <link rel="stylesheet" href="@Assets["app.css"]" /> *@
    <link rel="stylesheet" href="@Assets["css/reset.css"]" />
    <link rel="stylesheet" href="@Assets["css/elements.css"]" />
    <link rel="stylesheet" href="@Assets["css/general.css"]" />
    <link rel="stylesheet" href="@Assets["css/specific.css"]" />
    <link rel="stylesheet" href="@Assets["css/responsive.css"]" />
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="@Assets["WebshopFrontend.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer"/>
    <script src="_framework/blazor.web.js"></script>
    <script src="@Assets["cart.js"]"></script>
</body>

</html>
